
h1{
    text-align: center;
    color: gray;
    text-decoration: 1px gray underline overline;
    
    
}
header{
    background-color: black;
    text-decoration-color: white;
}    
body{
    background-color: black;
    text-decoration-color: white;
}

    
a.imagenportada{
    margin-left: 350px;
  
}
li{
    color: white;
}
a{
    color: white;
}
p{
    color: white;
}
nav{
    padding: 30;
}