html{
    background-image: url();
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 100%
    
}
h1{
    text-align: center;
    color: red;
    text-decoration: 1px underline black;
    
    
}
header{
    background-color: black;
   
}    
body{
    text-align: center;
   object-fit: cover;
   background-color: black;
}
div{
color:white;margin: 8px;font-variant: all-small-caps;font-family: cursive;text-shadow: #b9b4b4 0.3px -0.1px;background-color: #caa880;border: 1px solid #51524e;
}

    
.imagenportada{
    font: center;
}
ol{
   
   text-align: center;
   list-style-type: none;
}
li{
 text-decoration: inherit black;
 list-style-type: none;
}
a{
    text-decoration: inherit black;
    
}

nav{
    padding: 30;
}
footer{
    text-align: center;
}